<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
<welcome-file-list>
	<!--    <welcome-file>Sample/index.jsp</welcome-file>-->
	<welcome-file>slip_error.jsp</welcome-file>
</welcome-file-list>
<servlet>
		<display-name>CXFNonSpringJaxrsServlet</display-name>
		<servlet-name>CXFNonSpringJaxrsServlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
		</servlet-class>
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>com.woonam.services.RestImpl</param-value>
		</init-param>
		<init-param>
			<param-name>jaxrs.address</param-name>
			<param-value>/API</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFNonSpringJaxrsServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SoapServlet</display-name>
		<servlet-name>SoapServlet</servlet-name>
		<servlet-class>com.woonam.services.SoapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoapServlet</servlet-name>
		<url-pattern>/services/SOAP/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/slip_error.jsp?ERR_MSG=ERR_INVALID_PATH</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/slip_error.jsp?ERR_MSG=ERR_PROCESS</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/slip_error.jsp?ERR_MSG=ERR_PROCESS</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/slip_error.jsp?ERR_MSG=ERR_PROCESS</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name >conf</web-resource-name>
			<url-pattern >/conf/conf.ini</url-pattern>
		</web-resource-collection>
		<auth-constraint/>
	</security-constraint>
	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>false</param-value>
	</context-param>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>


	<error-page>
		<error-code>401</error-code>
		<location>/slip_error.jsp?ERR_MSG=ACCESS_DENIED</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/slip_error.jsp?ERR_MSG=ACCESS_DENIED</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/slip_error.jsp?ERR_MSG=ACCESS_DENIED</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/slip_error.jsp?ERR_MSG=ACCESS_DENIED</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/slip_error.jsp?ERR_MSG=ACCESS_DENIED</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/slip_error.jsp?ERR_MSG=ACCESS_DENIED</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/slip_error.jsp?ERR_MSG=ACCESS_DENIED</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name >conf</web-resource-name>
			<url-pattern >/conf/conf.ini</url-pattern>
		</web-resource-collection>
		<auth-constraint/>
	</security-constraint>
</web-app>